.blinds-selector_select {
    flex: 1 0 auto;
    border: 0;
    border-bottom: solid 1px #DADADA;
    line-height: 35px;
    padding: 2px 5px;
    font-size: 10.5pt;
    word-wrap: break-word;
    color: #494949;
}
.blinds-selector_select:focus {
    outline: 0;
}

.blinds-selector_option {
    background-color: #FFFFFF;
    height: 35px;
}