.blueprint-property-divider {
    grid-column: divider;
    margin: 0 -12px;
    width: 1px;
    justify-self: stretch;
    align-self: stretch;
    cursor: col-resize;
    padding: 0 12px;
    z-index: 100;
    user-select: none;

}
.blueprint-property-divider > div {
    background-color: rgba(17, 17, 17, 0.3);
    width: 1px;
    height: 100%;
    display: block;
    user-select: none;
}