.blueprint-side-panel2 {
    z-Index: 5;
    width: 500px;
    display: flex;
    flex-direction: column;
    border-left: solid 1px #dadada;
    background-color: white;
}

.blueprint-side-panel {
    z-Index: 5;
    display: flex;
    flex-direction: row;
}


.blueprint-minimap-container {

    align-self: center;
    flex: 0 0 auto;
}

.blueprint-minimap {
    position: inherit;
}