.property-section_header {
    width: 100%;
    text-align: left;
    border-bottom: solid 1px #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: stretch;
    flex-direction: row-reverse;
}

.property-section_header_title {
    display: inline;
    flex: 1 0 auto;
    padding: 0 10px;
    align-self: center;
}

.property-section_header_button {
    display: block;
    flex: 0 0 40px;
    font-size: 30pt;
    user-select: none;
    color: #7e7e7e;
}

.property-section_content-container {
}

.property-section_content-container_open {

}

.property-section_content-container_closed {
    display: none;
}