.node-preference-panel {
    z-Index: 5;
    width: 500px;
    display: flex;
    flex-direction: column;
    border-left: solid 1px #dadada;
    background-color: white;
}

.node-preference-panel-header {
    background-color: #f8f8f8;
    line-height: 35px;
    border-bottom: solid 1px #ccc;
}

.blueprint-minimap-container {

    align-self: center;
    flex: 0 0 auto;
}

.blueprint-minimap {
    position: inherit;
}