.label-and-input_label {
    width: 150px;
    font-size: 11pt;
    font-weight: normal;
    text-align: left;
    color: #6d6d6d;
}

.label-and-input_container {
    flex: 0 0 auto;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
}

.label-and-input_input {
    flex: 1 0 auto;
    border: 0;
    border-bottom: solid 1px #DADADA;
    line-height: 25px;
    padding: 2px 5px;
    font-size: 10.5pt;
    word-wrap: break-word;
    color: #494949;
}
.label-and-input_input:focus {
    outline: 0;
}