Label {
    font-weight: bold;
    font-size: 0.9em;
}

.blueprint-property-section {

    grid-column-start: property;
    grid-column-end: end;
    justify-self: stretch;
    text-align: left;
    padding: 4px 0;
    margin-bottom: 5px;
    border-bottom: solid 1px #ccc;
}

.blueprint-property-label  {
    grid-column: property;
}

.blueprint-property-value-container  {
    grid-column: end;
}

