.react-flow__node {
    width: 200px;
    border-radius: 5px;
    padding: 0;
    color: #555;
    border: 1px solid #dbc8b6;
    text-align: center;
    font-size: 12px;
    background-color: #f8edde;
}
.react-flow__renderer {
    position: inherit;
    flex: 0 1 auto;
}
.selected {
    border: 1px solid #ff5050 !important;
}



.react-flow__node-constantValueNode {
    width: 200px;
    border-radius: 5px;
    /*padding: 0;*/
    border: 1px solid #6b6bbb;
    background-color: rgb(220, 233, 255);
}
.react-flow__node-constantValueNode > .react-flow__handle {
    background-color: #6b6bbb;
}
.react-flow__node-bluePrintNode {
    border: 1px solid #bb9e6b;
    background-color: rgb(255, 238, 220);
}
.react-flow__node-Activate {
    border: 1px solid #6bbb88;
    background-color: rgb(220, 255, 233);
}