.baseNode {
    display: flex
}
.portContainer {
    display: flex;
    flex-flow: column;
    gap: 15px;
    padding: 35px 0 20px 0;
    margin-left: -4px;
}
.leftPortContainer {
    margin-left: -4px;
}
.rightPortContainer {
    margin-right: -4px;
}
.contentContainer {
    flex: 1
}

.node-type-container {
    position: absolute;
    bottom: 1px;
    right: 3px;
    font-size: 0.70em;
    color: #999;
}

.node-delete-container {
    position: absolute;
    right: 0;
    padding: 1px;
}
.node-delete-button {
    cursor: pointer;
    padding: 3px;
    width: 12px;
    height: 12px;
    color: #ddd;
    border: 0;
    border-radius: 0.5rem;
    user-select: none;
}
.node-delete-button:hover {
    cursor: pointer;
    background-color: #00000018;

}